/*close button*/
.close-button{
  list-style: none;
  width: 30px;
  height: 30px;
  padding-left: 0;
}

.close-button li{
  width: 30px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 15px;
}

.close-button li:first-child{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-button li:last-child{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-button:hover{
  cursor: pointer;
}

/*end of close button*/