*{
  font-family: open sans;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*button navigation*/

.button-navigation{
  position: fixed;
  z-index: 1000;
  padding-left: 0;
  cursor: pointer;
  top: 40px;
  right: 80px;
}

.button-navigation li{
  width: 40px;
  height: 8px;
  margin-bottom: 8px;
  background: #fff;
  display: block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  position: relative;
  top: 0;
  bottom: 0;
  opacity: 1;
}

.button-navigation.clicked li:first-child{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: rotate(45deg);
  top: 16px;
  width: 45px;
}

.button-navigation.clicked li:nth-child(2){
  opacity: 0;
}

.button-navigation.clicked li:last-child{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transition: rotate(-45deg);
  width: 45px;
  top: -16px;
}


.button-navigation li:last-child{
  margin-bottom: 0;
}

/*end of button navigation*/

/*main navigation*/

.navigation{
  display: table;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .95);
  position: fixed;
  top: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .25s ease-in-out;
  -moz-transiton: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navigation.active{
  opacity: 1;
  visibility: visible;
}

.navigation ul{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  list-style: none;
}

.navigation ul li{
  text-align: center;
}

.navigation ul li a{
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  line-height: 60px;
}

.navigation ul li.socmed a{
  display: inline-block;
  margin-right: 15px;
}

.navigation ul li.socmed a:first-child{
  font-size: 28px;
}

.navigation ul li.socmed a:last-child{
  margin-right: 0;
}

/*component*/
.button{
  font-size: 14px;
  padding: 10px 15px;
}

.button-rounded{
  border-radius: 50px;
}

.button-transparent{
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 1s ease;
}

.button-transparent:hover{
  color: #111;
  background: #fff;
  text-decoration: none;
}

/*end of component*/

/*end of main navigation*/

/*section introduce*/

section.introduce{
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
  background-image: url(../images/overlay/bromo.jpg);
  background-size: cover;
  background-position: center;
}

section.introduce:before{
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

section.introduce:before{
  background: rgba(0, 0, 0, .5);
}

section.introduce .caption{
  display: table;
  margin: auto;
}

section.introduce .logo{
  float: left;
  margin-right: 30px;
}

section.introduce .title{
  font-weight: 600;
  color: #fff;
  line-height: 40px;
  width: 400px;
  display: table-cell;
  vertical-align: middle;
}

/*end of section introduce*/

section.latest-articles{
  background: #000;
}

section.latest-articles .main-title{
  width: 7%;
  height: 100%;
  float: left;
  background: #111;
  position: relative;
  text-align: center;
  overflow: hidden;
  position: relative;
  text-align: center;
}

section.latest-articles .main-title .line{
  width: 1px;
  height: 250px;
  z-index: 1;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

section.latest-articles .main-title h5{

}

section.latest-articles .body-articles{
  width:  93%;
  height: 100%;
  float: left;
}

section.latest-articles .body-articles article{
  width: 50%;
  height: 50%;
  overflow: hidden;
  display: inline-block;
  float: left;
  position: relative;
}

section.latest-articles .body-articles article:hover{
  cursor: pointer;
}

section.latest-articles .body-articles article .background{
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center;
}

section.latest-articles .body-articles article h4.title{
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: -11%;
  padding: 100px 20px 15px 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
  background: linear-gradient(to top, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
}

section.latest-articles .body-articles article h4.title span{
  display: block;
}

section.latest-articles .body-articles article h4.title span:first-child{
  margin-bottom: 8px;
}

section.latest-articles .body-articles article h4.title span:last-child{
  font-size: 14px;
  font-weight: 400;
}

section.latest-articles .body-articles article.hover h4.title{
  bottom: 0;
}

section.latest-articles .data-latest-articles{
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;
  background-size: cover;
  background-position: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: ease 1s;
  -moz-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
  z-index: 3;
}

section.latest-articles .data-latest-articles.active{
  visibility: visible;
  opacity: 1;
}

section.latest-articles .data-latest-articles:before{
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, .8);
}

section.latest-articles .data-latest-articles .container{
  color: #fff;
  position: absolute;
  width: 1000px;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

section.latest-articles .data-latest-articles .container .content{
  height: 450px;
  overflow: hidden;
}

section.latest-articles .data-latest-articles .container h2{
  margin-bottom: 20px;
  font-weight: 800;
}

section.latest-articles .data-latest-articles .container p{
  line-height: 28px;
  font-size: 16px;
}

section.latest-articles .data-latest-articles .container .text{
  line-height: 24px;
}

section.latest-articles .data-latest-articles .menu{
  position: relative;
  display: block;
  margin-top: 50px;
}

section.latest-articles .data-latest-articles .menu .button{
  margin-right: 10px;
}

section.latest-articles .data-latest-articles .menu .close-button:hover{
  cursor: pointer;
}

@media(max-width: 991px){

}
@media(min-width: 768px;) and (max-width: 991px){

}

@media(max-width: 767px;){

}
